@model BiscuitChief.Models.Login

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div>
        You can use the form below to log in.  I have setup some demo logins so you can see the entire site
        <br/><br/>
        Username: <b>admin</b>, Password: <b>test</b><br/>
        The demo admin login will allow you to see the entire site.  It will not allow you to save data.
        <br/><br/>
        Username: <b>test</b>, Password: <b>test</b><br/>
        The demo test login is an example of a login without admin security roles.
    </div>
    <hr/>
    <div>
        Please enter your login information below.
        <br /><br />
        @Html.LabelFor(model => model.UserName) @Html.TextBoxFor(model => model.UserName) @Html.ValidationMessageFor(model => model.UserName)
        <br /><br />
        @Html.LabelFor(model => model.Password) @Html.PasswordFor(model => model.Password) @Html.ValidationMessageFor(model => model.Password)
        <br /><br />
        <input type="button" id="btnSubmit" class="BtnSubmit" value="Login" />
    </div>
}


@section scripts {
    <script src="@Url.Content("~/Scripts/SiteScripts/Login.js")"></script>
}


