@model BiscuitChief.Models.Recipe

<a id="Direction_AddNew" style="cursor:pointer;" onclick="Direction_AddNew();">&lt; Add New &gt;</a>
@for (int i = 0; i < Model.DirectionList.Count; i++)
{
    <div style="clear:both;"></div>
    <ul class="FormFields" style="float:left;">
        <li>
            @Html.LabelFor(item => Model.DirectionList[i].DisplayType)
            @Html.EnumDropDownListFor(item => Model.DirectionList[i].DisplayType)
        </li>
        <li>
            @Html.LabelFor(item => Model.DirectionList[i].DirectionText)
            @Html.TextAreaFor(item => Model.DirectionList[i].DirectionText, new { @rows = 3, @cols = "", style = "width: 600px; max-width: 100%;" })
            <div>@Html.ValidationMessageFor(item => Model.DirectionList[i].DirectionText)</div>
        </li>
    </ul>
    <div style="float:right; width:100px; text-align:right;">
        @if (i > 0)
        { <a id="Direction_MovePrevious" style="cursor:pointer;" onclick="Direction_MovePrevious(@i);">Move Up &#9650;</a> }
        <br />
        @if (i < Model.DirectionList.Count - 1)
        { <a id="Direction_MoveNext" style="cursor:pointer;" onclick="Direction_MoveNext(@i);">Move Down &#9660;</a> }
        <br />
        <div style="padding-top:20px;"><a id="Direction_Delete" style="cursor:pointer;" onclick="Direction_Delete(@i);">&lt; Delete &gt;</a></div>
    </div>
    <div style="clear:both;"></div>
    if (i < Model.DirectionList.Count - 1)
    { <hr /> }
}
@if (Model.DirectionList.Count > 0)
{
    <a id="Direction_AddNew" style="cursor:pointer;" onclick="Direction_AddNew();">&lt; Add New &gt;</a>
}


