@model BiscuitChief.Models.Recipe

<a id="Ingredient_AddNew" style="cursor:pointer;" onclick="Ingredient_AddNew();">&lt; Add New &gt;</a>
@for (int i = 0; i < Model.IngredientList.Count; i++)
{
    <div style="clear:both;"></div>
    <ul class="FormFields" style="float:left;">
        <li>
            @Html.HiddenFor(item => Model.IngredientList[i].IngredientID)
            @Html.LabelFor(item => Model.IngredientList[i].IngredientName)
            @Html.TextBoxFor(item => Model.IngredientList[i].IngredientName, new { @style = "margin-right:30px;" })

            @Html.LabelFor(item => Model.IngredientList[i].DisplayType)
            @Html.EnumDropDownListFor(item => Model.IngredientList[i].DisplayType, new { @onchange = "IngDisplayTypeChanged(this);", ingindex = i })

            <div>@Html.ValidationMessageFor(item => Model.IngredientList[i].IngredientName)</div>
        </li>
        <li id="Ingredients_QtyRow" ingindex="@i">
            @Html.LabelFor(item => Model.IngredientList[i].DisplayQuantity)
            @Html.TextBoxFor(item => Model.IngredientList[i].DisplayQuantity, new { @style = "margin-right:30px;" })

            @Html.LabelFor(item => Model.IngredientList[i].UnitOfMeasure)
            @Html.TextBoxFor(item => Model.IngredientList[i].UnitOfMeasure)

            <div>@Html.ValidationMessageFor(item => Model.IngredientList[i].Quantity)</div>
        </li>
        <li id="Ingredients_NotesRow" ingindex="@i">
            @Html.LabelFor(item => Model.IngredientList[i].Notes)
            @Html.TextBoxFor(item => Model.IngredientList[i].Notes, new { @style = "width: 455px; max-width: 100%;" })
        </li>
    </ul>
    <div style="float:right; width:100px; text-align:right;">
        @if (i > 0)
        { <a id="Ingredient_MovePrevious" style="cursor:pointer;" onclick="Ingredient_MovePrevious(@i);">Move Up &#9650;</a> }
        <br />
        @if (i < Model.IngredientList.Count - 1)
        { <a id="Ingredient_MoveNext" style="cursor:pointer;" onclick="Ingredient_MoveNext(@i);">Move Down &#9660;</a> }
        <br />
        <div style="padding-top:20px;"><a id="Ingredient_Delete" style="cursor:pointer;" onclick="Ingredient_Delete(@i);">&lt; Delete &gt;</a></div>
    </div>
    <div style="clear:both;"></div>
    if (i < Model.IngredientList.Count - 1)
    { <hr/> }
}
@if (Model.IngredientList.Count > 0)
{
    <a id="Ingredient_AddNew" style="cursor:pointer;" onclick="Ingredient_AddNew();">&lt; Add New &gt;</a>
}
