@model BiscuitChief.Models.Login

@{
    ViewBag.Title = "Manage Users";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        Please enter the new user information below.
        <br /><br />
        @Html.LabelFor(model => model.UserName) @Html.TextBoxFor(model => model.UserName) @Html.ValidationMessageFor(model => model.UserName)
        <br /><br />
        @Html.LabelFor(model => model.Password) @Html.PasswordFor(model => model.Password) @Html.ValidationMessageFor(model => model.Password)
        <br /><br />
        <input type="submit" id="btnSubmit" class="BtnSubmit" value="Submit" />
        <br/><br/>
        @ViewBag.ResultMessage
    </div>
}



